.rightClickStyle {
    z-index: 12;
    position: fixed;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuElementStyle {
    color: #222222;
    cursor: pointer;
    padding: 17px 36px;
}

.menuElementStyle:hover {
    background: #80808026;
}